# Uporządkowane type danych

## Kodowanie znaków i napisy
- kodowanie znaków: **ASCII** i **UNICODE**. System **UTF-8**

In [7]:
# funkcja ord() zwraca wartość Unicode dla podanego znaku
print(ord('A'))
print(ord('ó'))
print(ord('☀'))

65
243
9728

In [3]:
print(chr(97)) # mała litera 'a' (U+0061)
print(chr(0x0061)) # argument w systemie szesnastkowym
print(chr(2600)) # Unicode Character 'GURMUKHI LETTER NA' (U+0A28)
print(chr(9728)) # Unicode Character 'BLACK SUN WITH RAYS' (U+2600)
print(chr(0x2600)) # w systemie szesnastkowym

a
a
ਨ
☀
☀

In [25]:
napis = b'\xe6\x97\xa9\xe5\xae\x89' #reprezentacja bajtowa napisu
print(napis.decode('utf8'))
print(str(napis, encoding='utf8'))

早安
早安

 * Napisy (stringi)

In [35]:
a = 'Witaj'
b = "na"
c = "'spotkaniu'"
spacja = " "
print(a + spacja + b + spacja + c)
print("Zajecia"*3)

Witaj na 'spotkaniu'
ZajeciaZajeciaZajecia

In [11]:
print('a' > 'c')
print('ą' < 'c') # UWAGA

False
False

In [12]:
print(a + 1)

TypeError: can only concatenate str (not "int") to str

In [13]:
print(a + " " + b + " " + str(1) + " " + c)

ala ma 1 'kota'

In [14]:
print(a + " " + b + "\n" + c)

ala ma
'kota'

In [15]:
print('W naszej grupie jest {0} studentów'.format(15))

W naszej grupie jest 15 studentów

In [16]:
a = input('Jak masz na imię? ')
print('Użytkownik ma na imię {0}'.format(a))

Jak masz na imię? Mateusz
Użytkownik ma na imię Mateusz

In [36]:
print("znak nowej \n lini")

znak nowej
 lini

In [38]:
print("znak tabulacji \t.")

znak tabulacji 	.

In [39]:
print("""Napisy
    wielo
    linijkowe""")

Napisy
    wielo
    linijkowe

In [45]:
napis = "Hello World"

print(napis[:7])
print(napis[-7:])
print(napis[::-1])
print("Długość napisu to {0}.".format(len(napis)))

Hello W
o World
dlroW olleH
Długość napisu to 11

- Kilka najważniejszych metod dla napisów (Więcej można znaleźć w dokumentacji).

In [56]:
print("hello world".capitalize())
print("hello world".index("w"))
print("hello world".upper())
print("hello world".replace("l","h"))
print("hello world".split())
print("<->".join(['hello', 'world']))
print(" \n      hello world      ".strip())
print("Hello World".swapcase())

Hello world
6
HELLO WORLD
hehho worhd
['hello', 'world']
hello<->world
hello world
hELLO wORLD

 - **Listy** i **krotki**. Listy należa do typów mutowalnych, natomiast krotki są niemutowalne, ale ich wartości mogą się zmieniać.

In [10]:
lista1 = [1, 2, 3]
lista2 = ["Bardzo", "długi", "tekst"]

krotka1 = (1,2)
krotka2 = (2,)
krotka3 = 'a','b','c'

print(len(lista1))
print(lista2[1])
print(krotka1[1])
print(krotka3, type(krotka3))

lista1[0] = 0
print(lista1)

3
długi
2
('a', 'b', 'c') <class 'tuple'>
[0, 2, 3]

In [14]:
krotka = (1, 2, [1, 2, 3])
print(krotka, id(krotka))

krotka[2][0] = 121
print(krotka, id(krotka))

nowa_krotka = krotka + (144,)
print(nowa_krotka, id(nowa_krotka))

krotka[2] = 11

(1, 2, [1, 2, 3]) 2094504618600
(1, 2, [121, 2, 3]) 2094504618600
(1, 2, [121, 2, 3], 144) 2094505684088

TypeError: 'tuple' object does not support item assignment

In [62]:
# listy są mutowalne
id_przed_zmiana = id(lista1)
lista1[1] = 6
id_po_zmianie = id(lista1) 

print(id_przed_zmiana == id_po_zmianie)

True

In [1]:
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(list(range(5,10)))
print(list(range(1,10,2)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [74]:
lista = list(range(10))

lista[3:7] = []
print(lista)

[0, 1, 2, 7, 8, 9]

In [4]:
# dołączanie do listy
lista1 = [1, 2, 3, 4]
print(lista1)
lista1.append(5)
lista1 += [6]
print(lista1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [5]:
# rozszerzanie listy
lista1 = [1, 2, 3]
lista2 = [4, 5]
print(lista1)
lista1.extend(lista2)
print(lista1)

[1, 2, 3]
[1, 2, 3, 4, 5]

In [78]:
# kopiowanie list

lista1 = [1, 2, 3, 11]
id_lista1 = id(lista1)

lista2 = lista1
id_lista2 = id(lista2)

lista3 = list(lista1) # to samo działnie można uzyskać poprzez: lista1[:] lub lista1.copy()
id_lista3 = id(lista3)

print(id_lista1 == id_lista2)
print(id_lista1 == id_lista3)

True
False

In [3]:
import numpy as np
print(list(np.random.randint(1,20, 10 )))

[10, 7, 5, 17, 11, 11, 3, 6, 5, 8]

In [6]:
# sortowanie list

lista1 = [6, 9, 11, 17, 16, 4, 8, 6, 15, 19]
lista2 = [10, 7, 5, 17, 11, 11, 3, 6, 5, 8]

lista3 = sorted(lista1)
lista2.sort() # metoda sort() sortuje orginalną listę

print(lista1)
print(lista2)
print(lista3)

[6, 9, 11, 17, 16, 4, 8, 6, 15, 19]
[3, 5, 5, 6, 7, 8, 10, 11, 11, 17]
[4, 6, 6, 8, 9, 11, 15, 16, 17, 19]

In [9]:
# usuwanie elemetów z listy
lista = list(range(10))
print(lista, "\nid listy: {0}".format(id(lista)),end='\n\n')

lista.remove(9)
print(lista, "\nid listy: {0}".format(id(lista)),end='\n\n')

print(lista.pop())
print(lista, "\nid listy: {0}".format(id(lista)),end='\n\n')

lista[6:] = []
print(lista, "\nid listy: {0}".format(id(lista)),end='\n\n')

del lista[-1]
print(lista, "\nid listy: {0}".format(id(lista)),end='\n\n')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
id listy: 2094489267848

[0, 1, 2, 3, 4, 5, 6, 7, 8]
id listy: 2094489267848

8
[0, 1, 2, 3, 4, 5, 6, 7]
id listy: 2094489267848

[0, 1, 2, 3, 4, 5]
id listy: 2094489267848

[0, 1, 2, 3, 4]
id listy: 2094489267848

 - **Pętle** *for* i *while*

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
# pętla w pętli
for i in range(5):
    for j in range(5):
        print("i = {0}, j = {1}".format(i,j)) #WAŻNE łatwo sortuje do czytania dwóch lub więcej zmiennych

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

In [83]:
i = 0
while i < 5: # dopóki warunek 'i < 10' jest prawdziwy
    print(i)
    i += 1

0
1
2
3
4

### Porównanie czasu działania zwykłej pętli *for* i produktowania list

In [19]:
%%timeit

N = 10**2
suma_liczb = []
for i in range(N):
    for j in range(N):
        suma_liczb.append(i + j)

1.52 ms ± 125 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
N = 10**2
suma_liczb = [0]*(N*N) # tworzymy na początku całą listę wypełnioną zerami

In [18]:
%%timeit
for i in range(N):
    for j in range(N):
        suma_liczb[i*N+j] = i + j

1.46 ms ± 59.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [20]:
%%timeit

N = 10**2
sumy_liczb = [i + j for i in range(N) for j in range(N)]

549 µs ± 35 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)